<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div id="portal-main-container">
		<div id="portal-header-container">
			<header id="portal-main-header">
				<h1>POOL SNOKER KARAMBOL</h1>
				<img class="portal-logo" src="portal/img/portal-logo.png" alt="logo" title="SLOVENSKÝ BILIARDOVÝ ZVÄZ" />
			</header>
		</div>
		<div id="portal-club-logos-panel-container">
			<div id="portal-club-logos-panel">
				<div class="portal-club-logo portal-club-logo-1"></div>
				<div class="portal-club-logo portal-club-logo-2"></div>
				<div class="portal-club-logo portal-club-logo-3"></div>
				<div class="portal-club-logo portal-club-logo-4"></div>
				<div class="portal-club-logo portal-club-logo-5"></div>
				<div class="portal-club-logo portal-club-logo-6"></div>
				<div class="portal-club-logo portal-club-logo-7"></div>
				<div class="portal-club-logo portal-club-logo-8"></div>
				<div class="portal-club-logo portal-club-logo-9"></div>
				<div class="portal-club-logo portal-club-logo-10"></div>
				<div class="portal-club-logo portal-club-logo-11"></div>
				<div class="portal-club-logo portal-club-logo-12"></div>
				<div class="portal-club-logo portal-club-logo-13"></div>
				<div class="portal-club-logo portal-club-logo-14"></div>
			</div>
		</div>
		<div id="portal-menu-panel-container">
			<div id="portal-menu-panel" xpsui-portal-menu-render></div>
		</div>
		<div id="portal-content-container">
			<div id="portal-main-content">
				<article id="portal-article" xpsui-portal-article-content-edit ng-model="model.data">
				</article>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<header id="main-footer">
			Unionsoft, s.r.o, Všetky práva vyhradené
		</header>
	</div>
